:root {
  --c-black: #0b0d17;
  --c-white: #ffffff;
  --c-pink: #d0d6f9;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
#app {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;

  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif;
}

h1 {
  font-size: 150;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 28px;
  letter-spacing: 4.75;
}
